<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Mar 07 2014 11:47:54 GMT+0000 (UTC) -->
<html data-wf-site="531902edb0a7679c100000ca">
<head>
  <meta charset="utf-8">
  <title>TaskApplication - dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/taskapplication.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Lato:100,300,400,700,900"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="http://freefavicons.org/download/check-mark/?favicon=check-mark&type=ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container actionbar">
      <a class="w-inline-block homebutton" href="dashboard.handlebars"></a>
      <a class="w-inline-block homebutton action-buttons add" href="addtask.handlebars">
      </a>
      <a class="w-inline-block homebutton action-buttons" href="invite.handlebars">
      </a>
      <a class="w-inline-block homebutton action-buttons settings" href="settings.handlebars">
      </a>
    </div>
  </div>
    {{#each Members}}
  <div>
    <div class="individualtasks" id ="{{name}}" name="{{id}}">
      <h4 class="names" >{{name}}</h4>
        <!--<form action="">-->
        {{#each Tasks}}
        <div class="taskitems {{priority}}" style="display:{{visibility}}">
            
           <!-- <input name="{{taskid}}"  type="checkbox" style="margin: 20px 20px 0 20px; float:left; " {{check}}></input>-->
        
        <form name="taskform" role="form" method="get" action="check">
                  <input style="display:none" class="w-input forminputs" type="text" placeholder={{taskname}} name="taskid" data-name="{{taskname}}" value={{taskid}} id={{taskid}}></input>
         <input style="display:none"  class="w-input forminputs" type="text" placeholder={{ownerid}} name="ownerid" data-name="{{ownerid}}" value={{ownerid}} id="{{ownerid}}"></input>
        
                  <button class="check" type="submit" value="Login" data-wait="Please wait..."></button>
     </form>
        
        <h2 class="tasktitles" id="{{taskname}}" style="style:float; text-decoration: {{line}};">
                {{taskname}}</h2>
            
				<div class="details"><div class="description">Description: {{description}}</div><div class="date">Due: {{due}}</div>
                    
        <form name="taskform" role="form" method="get" action="removeTask">
                  <input style="display:none" class="w-input forminputs" type="text" placeholder={{taskname}} name="taskid" data-name="{{taskname}}" value={{taskid}} id={{taskid}}></input>
         <input style="display:none"  class="w-input forminputs" type="text" placeholder={{ownerid}} name="ownerid" data-name="{{ownerid}}" value={{ownerid}} id="{{ownerid}}"></input>
        
                  <button type="submit" value="Login" data-wait="Please wait...">Remove</button>
     </form>
        
        </div>
      </div>
        {{/each}}
      
        <!--</form>-->

      <div class="taskdiv"></div>
    </div>
  </div>
    {{/each}}

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/webflow.js"></script>
    <script type="text/javascript" src="/js/dashboard.js"></script>
</body>
</html>